<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Aiops_Monitoring::monitoring" title="Splunk Monitoring" sortOrder="10">
                    <resource id="Aiops_Monitoring::configuration" title="Splunk Configuration" sortOrder="100"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
