<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Aiops_Monitoring::monitoring" title="Monitoring" module="Aiops_Monitoring" sortOrder="40"
             parent="Magento_Backend::stores" resource="Aiops_Monitoring::monitoring"/>
        <add id="Aiops_Monitoring::configuration" title="Splunk Configuration" module="Aiops_Monitoring" sortOrder="70"
             parent="Aiops_Monitoring::monitoring" action="adminhtml/system_config/edit/section/monitoring"
             resource="Aiops_Monitoring::configuration"/>
    </menu>
</config>
